.input {
    border-radius: 25px;
    margin-bottom: 1rem;
}

.button {
    border: none;
    border-radius: 25px;
    padding: 0.65rem;
    background-image: linear-gradient(135deg, #7290f1 10%, #5151e5 100%);
    color: white;
    font-weight: 400;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: initial;
    width: 100%;
    height: 38px;
}

.button:hover {
    color: white;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
